/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define QWERTY_L 0
#define DVORAK_L 1
#define COLEMK_L 2
#define NAV_L    3
#define SYM_L    4
#define ADJ_L    5
#define Undo   LC(Z)
#define Cut    LC(X)
#define Copy   LC(C)
#define Paste  LC(V)
#define Redo   LC(Y)

/ {
    keymap {
        compatible = "zmk,keymap";

        ALPHA {
            /* QWERTY
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | `     |   Q   |   W   |   E   |   R   |   T   |-----------------------------------|   Y   |   U   |   I   |   O   |   P   | BKSPC |
 * | TAB   |   A   |   S   |   D   |   F   |   G   |-----------------------------------|   H   |   J   |   K   |   L   |   ;   | ENTER |
 * | CTRL  |   Z   |   X   |   C   |   V   |   B   |  ESC  |-------------------|  CAPS |   N   |   M   |   ,   |   .   |   /   |   '   |
 *                                 |  GUI  |  ALT  |SK SHFT|  Nav  |---|  Sym  | SPACE |  ALT  |  GUI  |
 */

            display-name = "ALPHA";
            bindings = <
&none      &kp B        &kp W  &kp M  &kp P  &kp Z                                                  &none     &kp F  &kp U  &kp Y  &kp Q        &none
&sl 4      &kp A        &kp S  &kp D  &kp F  &kp G                                                  &kp J     &kp N  &kp A  &kp I  &kp O        &sl 4
&kp ENTER  &key_repeat  &kp X  &kp C  &kp V  &mt F4 ESC       &none                        &none    &kp LGUI  &kp L  &kp K  &kp V  &key_repeat  &kp ENTER
                                      &none  &mt LG(TAB) TAB  &lt 1 SPACE  &mo 3    &mo 3  &lt 2 E  &kp LALT  &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        NAVI {
            display-name = "NAVI";
            bindings = <
&none  &none  &none  &none  &none  &none                                &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none                                &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none                  &none  &none  &none  &none  &none  &none  &none
                            &none  &none  &none  &none    &none  &none  &none  &none
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        NUM+SYM {
            display-name = "NUM+SYM";
            bindings = <
&none  &none  &none  &none  &none  &none                                &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none                                &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none                  &none  &none  &none  &none  &none  &none  &none
                            &none  &none  &none  &none    &none  &none  &none  &none
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        STENO {
            display-name = "STENO";
            bindings = <
&none  &none  &none  &none  &none  &none                                &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none                                &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none                  &none  &none  &none  &none  &none  &none  &none
                            &none  &none  &none  &none    &none  &none  &none  &none
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        QUICK {
            display-name = "QUICK";
            bindings = <
&none  &none  &none  &none  &none  &none                                &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none                                &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none                  &none  &none  &none  &none  &none  &none  &none
                            &none  &none  &none  &none    &none  &none  &none  &none
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        BONUS {
            display-name = "BONUS";
            bindings = <
&none  &none  &none  &none  &none  &none                                &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none                                &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none                  &none  &none  &none  &none  &none  &none  &none
                            &none  &none  &none  &none    &none  &none  &none  &none
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        EOL {
            display-name = "EOL";
            bindings = <
&none  &none  &none  &none  &none  &none                                &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none                                &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none                  &none  &none  &none  &none  &none  &none  &none
                            &none  &none  &none  &none    &none  &none  &none  &none
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };
    };
};
